.hero-banner .hero-image {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  height: 80px;
  box-shadow: 0 16px 16px -10px rgb(218, 217, 217);
  display: flex;
  justify-content: space-around;
}
.header .menu {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.header .menu .menu-item {
  color: black !important;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  margin-left: 30px;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
}
.header .menu .menu-item a:hover {
  font-weight: 900;
}
.header .menu .menu-item a {
  text-decoration: none;
  color: black;
}
.header .logoHeader {
  height: 15px;
  margin-top: 10px;
}

.hero-banner .random-photo {
  min-width: 100vh;
}
.hero-banner .random-photo img {
  max-width: 99vw;
  min-width: 90vw;
  max-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60%;
     object-position: 60%;
  width: 100vw !important;
}

.hero-title {
  position: absolute;
  z-index: 99;
  top: 43vh;
  left: 23%;
  width: 80%;
}

.select2 {
  width: 260px !important;
  height: 43px !important;
  border-radius: 12px;
}
.select2 span {
  font-family: "Poppins" !important;
  text-transform: uppercase !important;
  height: 43px !important;
}
.select2 .select2-selection--single {
  padding-top: 7px;
  padding-left: 8px;
  height: 43px;
  margin: auto;
  color: black;
}
.select2 .select2-container--default {
  background-color: #b40505 !important;
  color: black !important;
  border-radius: 12px;
  border: 2px;
}

.rotate-arrow {
  transform: scaleY(-1);
  transition: transform 0.3s ease; /* Optional: Add transition effect */
  transform-origin: 0% 47%;
}

.select2-results__option {
  font-family: "Poppins" !important;
  text-transform: uppercase !important;
  padding: 5px !important;
  background-color: white;
  border-radius: 10px;
  border: none;
}
.select2-results__option:hover {
  background-color: #ff0000 !important;
  color: white;
}

.select2-results__option--highlighted {
  background-color: #ff0000 !important;
}

.select2-dropdown {
  z-index: 88888888;
  border-radius: 13px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 17px;
}

.select2-selection__rendered {
  color: black !important;
  font-weight: 700;
}

.select2-search__field {
  display: none;
}

.select2-selection__arrow b {
  background-image: url("assets/Icons/Icon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 20px !important;
  width: 20px !important;
  margin-right: 40px !important;
  border: none !important;
  margin-left: -75% !important;
  margin-top: -10px !important;
}

.select2-selection__placeholder {
  color: black !important;
  padding: 10px;
}

.filters {
  display: inline-flex;
  width: 75%;
  margin: auto;
  margin-left: 19% !important;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
  -moz-columns: 2;
       columns: 2;
}
.filters .filters-left {
  position: relative;
}
.filters .filters-left .format-filter {
  margin-left: 50px;
}
.filters .filter-middle {
  margin-left: 40px;
}
.filters .filters-right {
  position: relative;
  margin-left: 410px;
}
.filters .filters-right .time-filter {
  position: relative;
}

.category-filter, .format-filter, .time-filter {
  width: 260px !important;
  height: 43px !important;
  border-radius: 8px !important;
  font-family: "Poppins" !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  border-color: rgb(185, 185, 185) !important;
  padding-left: 15px !important;
}

.lightbox-container {
  top: 0;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 99999999;
  position: fixed;
}

.lightbox-icons {
  top: 50%;
  right: 50%;
  font-family: "Space Mono";
  z-index: 55555;
}
.lightbox-icons .custom-lightbox-cat, .lightbox-icons .custom-lightbox-ref {
  position: absolute;
  font-family: "Space Mono";
  text-transform: uppercase;
  color: #ffffff;
}
.lightbox-icons .custom-lightbox-cat {
  right: 18%;
  bottom: 5%;
}
.lightbox-icons .custom-lightbox-ref {
  left: 5%;
  bottom: 5%;
  font-weight: 500;
}
.lightbox-icons .fullscreen-button {
  top: 2%;
  right: 2%;
  padding: 20px;
  position: absolute;
  width: 34px !important;
  height: 34px !important;
  z-index: 99999 !important;
}
.lightbox-icons .view-button {
  position: absolute;
  right: auto;
  top: 0%;
  left: 0%;
  width: 45px !important;
  height: 32px !important;
  background-color: #727171;
  opacity: 0.5;
  padding: 260px;
  padding-bottom: 204px;
}

.lightbox-active {
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 999999;
  display: flex;
}

.lightbox-overlay {
  position: fixed;
  height: 97vh;
  background-color: rgba(59, 59, 59, 0.2);
  padding-top: 20px;
  margin-bottom: 50px !important;
  width: 98vw;
  top: 0;
  z-index: 100000000;
}
.lightbox-overlay .lightbox-modale {
  display: flex;
  position: relative;
  top: 0;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.lightbox-overlay .lightbox-modale #lightbox {
  position: absolute;
  margin: auto;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-previous {
  position: absolute;
  left: -23%;
  top: 50%;
  background-color: red;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-next {
  position: absolute;
  right: -20%;
  top: 50%;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-image img {
  width: 100%; /* or any desired width */
  height: 90vh; /* This ensures the aspect ratio is maintained */
  -o-object-fit: cover;
     object-fit: cover;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-infos {
  background-color: #b40505;
  font-family: "Space Mono";
  text-transform: uppercase;
  color: #ffffff;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-infos .lightbox-info-ref {
  position: absolute;
  left: 0%;
}
.lightbox-overlay .lightbox-modale #lightbox .lightbox-infos .lightbox-info-cat {
  position: absolute;
  right: 0;
}
.lightbox-overlay .lightbox-modale .lightbox-cross {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 5%;
  right: 2%;
}

.image-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: 19.1%;
  -moz-column-gap: 22px;
       column-gap: 22px;
}

.home-gallery-image {
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 333;
  position: relative;
  display: inline-block;
}
.home-gallery-image img {
  width: 564px;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
}

#load-more-photos {
  font-family: "Space Mono";
  width: 292px;
  height: 50px;
  border: none;
  margin: auto;
}
#load-more-photos:hover {
  background: rgb(165, 164, 164);
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.error-messsage p {
  background-color: aquamarine !important;
  font-family: "Space Mono" !important;
}

.ajax-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: 12.7%;
  -moz-column-gap: 22px;
       column-gap: 22px;
}

.load-more-photos-box {
  display: flex;
  padding-top: 40px;
  margin: auto;
  justify-content: space-evenly;
}

#load-more-photos {
  font-family: "Space Mono";
  width: 292px;
  height: 50px;
  border: none;
  margin: auto;
  cursor: pointer;
}
#load-more-photos:hover {
  background-color: #464545;
  color: #fff;
  transition: 1s;
}

.more-photos {
  display: inline-flex;
  padding-bottom: 20px;
  margin-right: 0;
}
.more-photos img {
  width: 564px;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
}

.entry-title {
  font-family: "Space Mono";
}

.photo-article {
  display: flex;
  position: relative;
  margin: auto;
  width: 87%;
}
.photo-article .photo-infos {
  position: relative;
  bottom: 0%;
  font-family: "Space Mono";
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  padding: 25px;
}
.photo-article .photo-infos .info-container {
  position: absolute;
  margin-left: 23%;
  bottom: 3%;
  border-bottom: solid black 2px;
  width: 80%;
  padding-bottom: 15px;
}
.photo-article .photo-infos .category, .photo-article .photo-infos .format, .photo-article .photo-infos .type, .photo-article .photo-infos .ref, .photo-article .photo-infos .year {
  margin-top: 10px;
  margin-bottom: 5px;
}
.photo-article .main-image-container {
  right: 10%;
  padding-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: end;
  padding-top: 20px;
}
.photo-article .main-image-container .wp-block-image {
  overflow: hidden;
  max-width: 700px;
  max-height: 800px;
  -o-object-fit: contain;
     object-fit: contain;
}

.photo-contact-container {
  display: flex;
  -moz-columns: 3;
       columns: 3;
  width: 71%;
  margin-left: 18%;
  border-bottom: solid rgb(110, 109, 109) 2px;
  margin-top: auto;
  height: 120px;
}
.photo-contact-container .contact-arrows-container {
  display: inline-block;
  position: relative;
}
.photo-contact-container .contact-arrows-container .photo-arrows {
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
}
.photo-contact-container .photo-contact-button {
  font-family: "Space Mono";
  width: 292px;
  height: 50px;
  border: none;
  margin: auto;
  margin-left: 0%;
}
.photo-contact-container .photo-contact-button:hover {
  background: rgb(165, 164, 164);
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
.photo-contact-container .photo-contact-text {
  margin: auto;
  font-family: "Space Mono";
  margin-left: 0px;
  margin-right: 100px;
}
.photo-contact-container .photo-contact-image {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
.photo-contact-container .photo-contact-image .attachment-thumbnail {
  height: 71px;
  width: 81px;
  margin-left: 80px;
}

.aimerez-aussi .aussi-container {
  text-transform: uppercase;
  margin: auto;
}
.aimerez-aussi .aussi-container .photos-related {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: 14%;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.aimerez-aussi .aussi-container .aussi-title {
  font-family: "Space Mono";
  font-weight: 400;
  margin-left: 18%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.contact-page {
  height: 100vh;
}

.footer {
  display: block;
  justify-content: space-around;
}
.footer .menu {
  width: 100%;
  border-top: solid black 1px;
  display: flex;
  justify-content: center;
}
.footer .menu-item {
  padding-top: 5px;
  font-family: "Space Mono";
  font-size: 14px;
  margin-left: 45px;
  list-style: none;
  text-transform: uppercase;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer .form-overlay {
  position: fixed;
  height: 97vh;
  background-color: rgba(179, 176, 176, 0.5);
  padding-top: 20px;
  margin-bottom: 50px !important;
  width: 97vw;
  top: 0;
  z-index: 100000000;
}
.footer .form-overlay .form {
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  margin: auto;
  width: 340px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5555;
}
.footer .form-overlay .form .inactive {
  display: none !important;
}
.footer .form-overlay .form .input[type=text] {
  font-family: "Poppins";
}
.footer .form-overlay .form input, .footer .form-overlay .form textarea {
  border-color: rgb(199, 197, 197);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.footer .form-overlay .form textarea {
  height: 200px !important;
}
.footer .form-overlay .form .wpcf7-submit {
  padding: 8px 15px 8px 15px;
  border-radius: 0;
  border: none;
  margin-left: 22px;
  width: 263px;
  height: 50px;
  font-family: "Poppins";
}
.footer .form-overlay .form .span {
  font-family: "Poppins";
}
.footer .form-overlay .form-container {
  border: black solid 3px;
  margin-top: 50px !important;
  width: 40%;
  margin: 30%;
  background-color: white;
  margin-top: 50px;
  z-index: 5554;
}
.footer .form-overlay .form-container .contactHeader {
  margin: auto;
  width: 100%;
  padding: 0;
}

.menu-mobile {
  display: none;
}

@media (width <= 550px) {
  #menu-header-menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    padding-top: 8px;
  }
  .open-nav-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #b40505;
    z-index: 99999;
    bottom: -120px;
    transition: bottom 0.3s ease;
  }
  .open-nav-menu #menu-header-menu-1 {
    display: flex;
    flex-direction: column;
    margin-left: 40px !important;
    padding-top: 50px;
  }
  .open-nav-menu li {
    padding-top: 50px;
    margin: auto;
  }
  .open-nav-menu li a {
    font-size: 44px;
    color: #ffffff !important;
  }
  .hero-banner .hero-title {
    top: 25vh;
    margin: auto;
    left: 15%;
  }
  .hero-banner .hero-title img {
    width: 300px;
    margin: auto;
  }
  .hero-banner .random-photo img {
    margin: auto;
    height: 30vh;
    width: 412px !important;
  }
  .filters {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    flex-direction: column;
    margin: auto;
  }
  .filters .filters-left {
    margin-left: 8% !important;
    margin-top: 60px !important;
  }
  .filters .filters-left .category-filter {
    padding-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .filters .filters-left .format-filter {
    margin: auto !important;
    margin-bottom: 20px !important;
  }
  .filters .filters-right {
    margin: auto !important;
  }
  .select2 {
    background: #727171 !important;
    justify-content: space-between;
  }
  .ajax-container {
    display: flex;
    flex-direction: column !important;
    width: 100vw;
    margin-left: 0;
  }
  .ajax-container .home-gallery-image .lightbox-icons .fullscreen-button {
    width: 35px !important;
    right: 0;
  }
  .ajax-container .home-gallery-image .lightbox-icons .view-button {
    width: 43px !important;
    margin-left: 0%;
    padding: 181px;
    padding-bottom: 282px !important;
  }
  .ajax-container .home-gallery-image .lightbox-icons .custom-lightbox-cat {
    right: 15px;
  }
  .ajax-container .home-gallery-image img {
    width: 100% !important;
  }
  .lightbox-icons .view-button img {
    width: 50px !important;
  }
  .photo-article {
    width: 90vw;
    padding-bottom: 10px;
    flex-direction: column-reverse;
  }
  .photo-article .photo-infos {
    position: relative;
    width: 100vw;
  }
  .photo-article .photo-infos .info-container {
    display: block;
    position: relative !important;
    width: 80vw !important;
    margin-left: 0 !important;
    border-bottom: none;
  }
  .photo-article .photo-infos .info-container .entry-title {
    font-size: 28px;
    width: 100%;
  }
  .photo-contact-container {
    display: inline-block !important;
    -moz-columns: 1;
         columns: 1;
    row-gap: 10px;
    width: 105vw;
    margin: -15px !important;
    padding-top: 30px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
  }
  .photo-contact-container .photo-contact-text {
    font-size: 14px;
    margin-left: 65px !important;
    padding-bottom: 20px;
  }
  .photo-contact-container .photo-contact-button {
    margin-top: 20px;
    margin-left: 65px !important;
  }
  .photo-contact-container .contact-arrows-container {
    display: none;
  }
  .form-overlay .form-container {
    position: relative;
    width: 80% !important;
    margin: auto !important;
  }
  .form-overlay .form-container .form {
    width: 70%;
    margin: 0 !important;
  }
  .aimerez-aussi {
    display: flex;
    width: 100vw;
  }
  .aimerez-aussi .aussi-container {
    margin: -20px;
    width: 100vw;
  }
  .aimerez-aussi .aussi-container .aussi-title {
    padding-top: 40px;
    margin-left: 28%;
  }
  .aimerez-aussi .aussi-container .photos-related {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .aimerez-aussi .aussi-container .photos-related img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 317px;
    max-height: 279px;
    padding-bottom: 20px;
  }
  .footer .menu {
    display: block;
    -moz-columns: 1;
         columns: 1;
  }
  .footer .menu .menu-item {
    margin-left: -20px !important;
  }
  .footer .menu li {
    justify-self: center;
    text-align: center;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */