


.hero-banner{
    

    .hero-image{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}

.header{
    height:80px;
    box-shadow: 0 16px 16px -10px rgb(218, 217, 217);
    display:flex;
    justify-content:space-around;
    
    
    
    .menu{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
       
        .menu-item{
            color: black !important;
            font-family:'Space Mono';
            font-weight: 400;
            font-size: 16px;
            margin-left: 30px;
            list-style: none;
            text-transform: uppercase;
            text-decoration: none;

            & a:hover{
                font-weight:900;
                
            }
            & a{
                text-decoration: none;
                color: black;
            }
            
        }
        
    }
    .logoHeader{
        height:15px;
        margin-top: 10px;
        }

}
//Home//

.hero-banner{
    
    .random-photo{
        min-width: 100vh;
    

        & img{
            max-width: 99vw;
            min-width: 90vw;
            max-height: 90vh;
            object-fit: cover;
            object-position: 60%;
            width:100vw !important;
        }
    }
}
.hero-title{
    position: absolute;
    z-index: 99;
    top: 43vh;
    left: 23%;
    width: 80%;
    
}
//filters//
.select2{
    width:260px !important;
    height:43px !important;
    border-radius: 12px;
    
    & span{
        font-family: 'Poppins' !important;
        text-transform: uppercase !important;
        height:43px !important;
    }

    .select2-selection--single{
        padding-top:7px;
        padding-left:8px;
        height:43px;
        margin:auto;
        color: black;
    }
    .select2-container--default{
        background-color: #b40505 !important;
        color: black !important;
        border-radius:12px;
        border:2px;
        
    }
    
}

.rotate-arrow {
    transform: scaleY(-1);
    transition: transform 0.3s ease; /* Optional: Add transition effect */
    transform-origin: 0% 47%;
  }

.select2-results__option{
    font-family: 'Poppins' !important;
    text-transform: uppercase !important;
    padding:5px !important;
    background-color: white;
    border-radius: 10px;
    border:none;
    &:hover{
        background-color: #ff0000 !important;
        color:white;
        }
}
.select2-results__option--highlighted{
    background-color: #ff0000 !important;
}
.select2-dropdown{
    z-index: 88888888;
    border-radius: 13px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:5px;
    margin-top:17px;
}
.select2-selection__rendered{
    color: black !important;
    font-weight: 700;
}
.select2-search__field{
    display: none;
}
.select2-selection__arrow b{
    background-image: url("assets/Icons/Icon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height:20px !important;
    width:20px !important;
    margin-right:40px !important;
    border: none !important;
    margin-left:-75% !important;
    margin-top:-10px !important;
}
.select2-selection__placeholder{
    color: black !important;
    padding:10px;
}
.filters{
    display:inline-flex;
    width:75%;
    margin: auto;
    margin-left:19% !important;
    height:80px;
    padding-top:20px;
    padding-bottom:30px;
    columns: 2;
    
    .filters-left{
        position: relative;
       
        .format-filter{
            margin-left:50px;
            
        }

}
.filter-middle{
    margin-left:40px;
}
    .filters-right{ 
        position: relative;
        margin-left:410px;
        .time-filter{
            position: relative;
        
        }
        
    }
}
.category-filter, .format-filter, .time-filter{
    width:260px!important;
    height:43px!important;
    border-radius: 8px!important;
    font-family:'Poppins' !important;
    text-transform: uppercase!important;
    font-weight: 600!important;
    border-color: rgb(185, 185, 185)!important;
    padding-left:15px !important;
    
}



// Lightbox//

 .custom-div{
    background-color: #464545;
    }
    

//Lightbox on hover//
.lightbox-container{
    top:0;
    display: none;
    width:100%;
    background-color:rgb(0, 0, 0, 0.5);
    height:100vh;
    z-index:99999999;
    position: fixed;
    
}
.lightbox-icons{
        top:50%;
        right:50%;
        font-family: 'Space Mono';
        z-index:55555;

        .custom-lightbox-cat, .custom-lightbox-ref{
            position:absolute;
            font-family: 'Space Mono';
            text-transform: uppercase;

            color: #ffffff;
    }
    .custom-lightbox-cat{
        right:18%;
        bottom:5%;
    }
    .custom-lightbox-ref{
        left:5%;
        bottom:5%;
        font-weight: 500;
    }
        
   

    .fullscreen-button{ 
        top:2%;
        right:2%;
        padding:20px;
        position: absolute;
        width:34px !important;
        height:34px !important;
        z-index: 99999 !important;
        
    }
    .view-button{
        position: absolute;
        right:auto;
        top:0%;
        left:0%;
        width:45px !important;
        height:32px !important;
        background-color: #727171;
        opacity: 0.5;
        padding:260px;
        padding-bottom:204px;
    }
}
.lightbox-active{
    top:0;
    width:100%;
    background-color:rgb(0, 0, 0, 0.5);
    height:100vh;
    z-index:999999;
    display: flex;
}

//lightbox fullscreen//
.lightbox-overlay{
    position:fixed;
    height:97vh;
    background-color: rgba(59, 59, 59, 0.2);
    padding-top:20px;
    margin-bottom:50px !important;
    width:98vw;
    top:0;
    z-index:100000000;

.lightbox-modale{
    display: flex;
    position: relative;
    top:0;
    margin:auto;
    justify-content: center;
    align-content: center;

    #lightbox{
        position: absolute;
        margin:auto;
        
        .lightbox-previous{
            position: absolute;
            left:-23%;
            top:50%;
            background-color: red;
        }
        .lightbox-next{
            position: absolute;
            right:-20%;
            top:50%;
        }
        
        .lightbox-image img{
            width: 100%; /* or any desired width */
            height: 90vh; /* This ensures the aspect ratio is maintained */
            object-fit: cover;

        }


        .lightbox-infos{
            background-color: #b40505;
            font-family: 'Space Mono';
            text-transform: uppercase;
            color: #ffffff;
            .lightbox-info-ref{
                position: absolute;
                left:0%;
            }
            .lightbox-info-cat{
                position: absolute;
                right:0;
            }
        }
    
    }
    .lightbox-cross{
        height:22px;
        width:22px;
        position: absolute;
        top:5%;
        right: 2%;
        cursor: pointer;
    }
    
}
}


.small-lightbox{
    
    background-color: rgba(59, 59, 59, 0.8);
    position: absolute;
    margin-top:-27.3%;
    z-index:335;
}

.view-button2{
    height:30px !important;
    width:30px !important;
}

.fullscreen-button2{
    height:30px !important;
    width:30px !important;
}
//Gallery Home//
.image-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-left: 19.1%;
    column-gap: 22px;
}
.home-gallery-image{
    margin-bottom: 20px;
    margin-right:20px;
    z-index:333;
    position: relative;
    display: inline-block;
    & img{
        width:564px;
        height:495px;
        object-fit: cover;
    }
    
}

    #load-more-photos{
        font-family: 'Space Mono';
        width:292px;
        height:50px;
        border: none;
        margin: auto;
        
        &:hover{
            background:rgb(165, 164, 164);
            color: #fff;
            transition: all .5s;
            cursor: pointer;
        }
    }

    .error-messsage{
        background-color: aquamarine !important;
        font-family: 'Space Mono' !important;
    }

.ajax-container{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-left: 18.7%;
    column-gap: 2px;
     & img{
        width:564px;
        height:495px;
        object-fit: cover;
     }
     & p{
        margin: auto;
        font-family: 'Space Mono' !important;
     }
    
}
.load-more-photos-box{
    display: flex;
    padding-top:40px;
    margin: auto;
    justify-content: space-evenly;
    
    
}
#load-more-photos{
    font-family: 'Space Mono';
        width:292px;
        height:50px;
        border: none;
        margin: auto;
        cursor: pointer;
        &:hover{
            background-color:#464545;
            color:#fff;
            transition: 1s;
            }
        
}
.more-photos{ 
    display: inline-flex;
    padding-bottom:20px;
    margin-right:0;
    
    & img{
            width:564px;
            height:495px;
            object-fit: cover;        
        }
}

//SinglePhotos//
.entry-title{
    font-family: 'Space Mono';
}

.photo-article{
    display: flex;
    position: relative;
    margin: auto;
    width: 87%;
    

    .photo-infos{
       position: relative;
        bottom: 0%;
        font-family:'Space Mono';
        font-weight: 400;
        text-transform: uppercase;
        width: 50%;
        padding:25px;
        

        & .info-container{
            position: absolute;
            margin-left: 23%;
            bottom:3%;
            border-bottom: solid black 2px;
            width: 80%;
            padding-bottom: 15px;;
        }

        & .category, .format, .type, .ref, .year{
            margin-top: 10px;
            margin-bottom:5px;
        }
        
        
    }
    .main-image-container{
        right:10%;
        padding-bottom: 5px;
        margin-left: 5%;
        margin-right: 5%;
        align-items: end;
        padding-top:20px;
        
        
        
        .wp-block-image{
            overflow: hidden;
            max-width:700px;
            max-height:800px;
            object-fit: contain;
        }
    }
}
//Contact area//
.photo-contact-container{
    
    display: flex;
    columns: 3;
    width: 71%;
    margin-left:18%;
    border-bottom: solid rgb(110, 109, 109) 2px; 
    margin-top:auto;
    height:120px;
    
    
    .contact-arrows-container{
        display:inline-block;
        position: relative;
        
        

        .photo-arrows{
            display:flex;
            justify-content: space-between;
            margin-left:50%;
        }
    }

    .photo-contact-button{
        font-family: 'Space Mono';
        width:292px;
        height:50px;
        border: none;
        margin: auto;
        margin-left:0%;
        &:hover{
            background:rgb(165, 164, 164);
            color: #fff;
            transition: all .5s;
            cursor: pointer;
        }
    }
    .photo-contact-text{
        margin: auto;
        font-family: 'Space Mono';
        margin-left:0px;
        margin-right:100px;
        
    }
    .photo-contact-image{
        display: inline-block;
        position: relative;
        margin-top:20px;
        
        .attachment-thumbnail{
            height:71px;
            width: 81px;
            margin-left: 80px;
        }
    }
}

//Related images//
.aimerez-aussi{
    .aussi-container{
        text-transform: uppercase;
        margin: auto;
        
        .photos-related{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 70%;
            margin-left: 14%;
            column-gap: 22px;
        
        }
        .aussi-title{
            font-family: 'Space Mono';
            font-weight: 400;
            margin-left: 18%;
            padding-top: 20px;
            padding-bottom:30px;
        }
    }
}
.active{
    display: block;
}

.inactive{
    display: none;
}
.contact-page{
    height:100vh;
}
// .get_id{
//     display:none !important;
//   }
  

.footer{
    display: block;
    justify-content: space-around;
    

       .menu{
        width: 100%;
        border-top: solid black 1px;
        display: flex;
        justify-content: center;
       } 

       .menu-item{
        padding-top: 5px;
        font-family: 'Space Mono';
        font-size: 14px;
        margin-left: 45px;
        list-style: none;
        text-transform: uppercase;
       }
       & a{
        text-decoration: none;
        color: black;
    }


//Form CSS
.form-overlay{
    position:fixed;
    height:97vh;
    background-color: rgba(179, 176, 176, 0.5);
    padding-top:20px;
    margin-bottom:50px !important;
    width:97vw;
    top:0;
    z-index:100000000;
    
    .form{
        position: relative;
        font-family:'Poppins';
        font-weight: 400;
        font-size: 14px;
        display: flex;
        margin:auto;
        width:340px;
        padding-left: 20px;
        padding-right:20px;
        z-index: 5555;
        .inactive{ 
            display: none !important;  
            
        }
        
        .input[type='text'] {
            font-family: 'Poppins';
            
        }
        & input, textarea{
            border-color: rgb(199, 197, 197);
            border-radius: 5px ;
            width: 100%;
            height:30px ;
            font-family: 'Poppins';
            text-transform: uppercase;
        }
        & textarea{
            height:200px !important;
           
        }
        .wpcf7-submit{
            padding: 8px 15px 8px 15px;
            border-radius: 0;
            border: none;
            margin-left: 22px;
            width:263px;
            height:50px;
            font-family: 'Poppins';
        }
        .span{
            font-family: 'Poppins';
        }
        
    }
    .form-container{
        border: black solid 3px;
        margin-top: 50px !important;
        width:40%;
        margin:30%;
        background-color: white;
        margin-top:50px;
        z-index:5554;
        
        .contactHeader{
            margin: auto;
            width: 100%;
            padding: 0;
        }
    }
    
}}

.menu-mobile{
    display: none;
}



//MEDIA//



@media (width <= 550px) {
   //header//
   #menu-header-menu{
    display:none;

    
   }
   .menu-mobile{
    display: block;
    padding-top:8px;
}

   .open-nav-menu{
    position:absolute;
    height:100%;
    width:100%;
    background-color:#b40505;
    z-index: 99999;
    bottom:-120px;
    transition: bottom 0.3s ease;
    
    #menu-header-menu-1{
        display: flex;
        flex-direction: column;
        margin-left:40px !important;
        padding-top:50px;
        
        
    }
    li{
        padding-top:50px;
        margin: auto;
       
    & a{
        font-size:44px;
        color: #ffffff !important;
        
        }
    }
}
//Home page//
.hero-banner{
    
    .hero-title{
        top:25vh;
        margin:auto;
        left:15%;

        & img{
            width:300px;
            margin:auto;
        }

    }
    .random-photo img{
        margin:auto;
        height:30vh;
        width:412px !important;
    }
}

//Filters//
.filters{
    padding-top:30px;
    display:flex;
    flex-direction: column;
    padding-bottom:150px;
    flex-direction: column;
    margin:auto;
    .filter-middle{
        margin-left: 3% !important;
        margin-top:20px !important;
    }
    .filters-left{
        margin-left: 3% !important;
        margin-top:40px !important;

    .category-filter{
        
        padding-top:20px !important;
        margin-bottom:20px !important;
        
    }
    .format-filter{
        margin:auto !important;
        margin-bottom:20px !important;
    }
}
.filters-right{
    margin-top:20px !important;
    margin-left: 3% !important;
}
}
.select2{
    background:#727171 !important;
    justify-content: space-between;
}

//ajax container//

.ajax-container{
    display: flex;
    flex-direction: column !important;
    width:100vw;
    margin-left:0;
    .image-block{
        display: grid !important;
        grid-template-columns: auto;
        width:100% !important;
        margin-left:6% !important;
        justify-items: start;
        
    }
    .home-gallery-image img{
        width:360px;
        height:300px !important;
        
        .lightbox-icons{
            .fullscreen-button{
                width:35px !important;
                right:0;
                
            }
    
            .view-button{
                width:43px !important;
                margin-left:0%;
                padding:181px;
                padding-bottom:282px !important; 
            }
            .custom-lightbox-cat{
                right:15px;
            }
        }
        & img{
        width:100% !important;
        
    }
}

}
//lightbox images
.lightbox-icons{
    
    .view-button img{
        width:50px !important;
    }
}

  //Photos Page//
  .photo-article{
    width: 90vw;
    padding-bottom:10px;
    flex-direction: column-reverse;
    
    .photo-infos{
        position: relative;
        width:100vw;
    
        .info-container{
           
           display: block;
           position:relative !important;
            width:80vw !important;
            margin-left:0 !important;
            border-bottom: none;
           .entry-title{
            font-size: 28px;
            width: 100%;
           }
        }
    }
}

.photo-contact-container{
    display: inline-block !important;
    columns: 1;
    row-gap: 10px;
    width:105vw;
    margin:-15px !important;
    padding-top:30px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
   
    .photo-contact-text{
        font-size: 14px;
        margin-left:65px !important;
        padding-bottom:20px;
        
    }
    .photo-contact-button{
        margin-top:20px;
        margin-left:65px !important;
    }
    .contact-arrows-container{
        display:none;
    }
}

.lightbox-icons{
    .view-button{
        position:absolute;
        padding-bottom:110px !important;
        padding:137px;
    }
    .fullscreen-button{
        display: none;
    }
}
.form-overlay{

    .form-container{
        
        position: relative;
        width:80% !important;
        margin:auto !important;
        .form{
            width:70%;
            margin:0 !important;
        }
    }
}
.aimerez-aussi{
    display: flex;
    width:100vw;
    
    .aussi-container{
    margin:-20px;
    width:100vw;
        .aussi-title{
            padding-top:40px;
            margin-left:28%;
            
        }

        .photos-related{
            display: flex;
            flex-direction: column;
            margin:auto;

            .image-block{
                margin-left: 0 !important;
            }

            & img{
                max-width:100%;
                object-fit: cover;
                max-width:317px;
                max-height:279px;
                padding-bottom:20px;
            }
        }
    }
    
}


.footer{
   
    .menu{
    display: block;
    columns: 1;
    
        .menu-item{
            margin-left:-20px !important;
        }
       
    
    & li{
        justify-self: center;
        text-align: center;
        margin-top:20px;
    }
}
}
}